---
layout: default
---

	<!-- Document Wrapper
	============================================= -->
	<a id="section-home"></a>
	<div id="wrapper" class="clearfix">

		<!-- Top Bar -->
		{% include top-bar.html %}

		<!-- Header -->
        {% include header.html %}

        <!-- Slider -->
        {% include slider.html %}

        <!-- Body -->
		<section id="content">
			<div class="content-wrap">
								
				<!-- Mission / Services -->
				<a id="section-mission"></a>
				{% include mission-services.html %}

				<!-- FAQ & Testimonials -->
				<a id="section-faq-testimonials"></a>
				{% include faq-testimonials.html %}

				<!-- Contact Form -->
				<a id="section-contact"></a>
				<!-- {% include contact-form.html %} -->

			</div>
		</section><!-- #content end -->
