<section class="faq-testimonials">
    <div class="container clearfix">
        <div class="row col-mb-50 mb-0">
            <div class="col-md-7">
                <div class="accordion accordion-lg clearfix">
                    <h4>FAQ</h4>
                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Question #1
                        </div>
                    </div>
                    <div class="accordion-content clearfix">
                        Habitasse ante volutpat eius cras nec autem duis placerat maiores eleifend laboris natoque lobortis. Impedit esse dignissim voluptatum ad quam repudiandae, lacus dignissim nulla beatae. Feugiat augue cras ratione, ea odio veniam accusantium aliquip aute, dis! Labore! Officia corporis! Non quaerat! Saepe tempore, parturient minima penatibus sociis expedita occaecat. Nesciunt.
                    </div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Question #2
                        </div>
                    </div>
                    <div class="accordion-content clearfix">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Question #3
                        </div>
                    </div>
                    <div class="accordion-content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Question #4
                        </div>
                    </div>
                    <div class="accordion-content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-ok-circle"></i>
                            <i class="accordion-open icon-remove-circle"></i>
                        </div>
                        <div class="accordion-title">
                            Question #5
                        </div>
                    </div>
                    <div class="accordion-content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.</div>

                </div>
            </div>

            <div class="col-md-5">
                <h4>Client Testimonials</h4>
                <ul class="testimonials-grid grid-1">
                    <li class="grid-item pt-0">
                        <div class="testimonial">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonials"></a>
                            </div>
                            <div class="testi-content">
                                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                                <div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid-item pb-0">
                        <div class="testimonial">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonials"></a>
                            </div>
                            <div class="testi-content">
                                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>