<footer id="footer" style="background-color: #F5F5F5; border-top: 2px solid rgba(0,0,0,0.06);">
    <div class="container" style="border-bottom: 1px solid rgba(0,0,0,0.06);">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row gutter-50 col-mb-50">
                <h4>Contact</h4>
                <div class="col-md-12">
                    <div class="widget">

                        <div class="row col-mb-30">
                            <div class="col-lg-12">
                                <div class="footer-big-contacts">
                                    <span>Call Us:</span>
                                    <a id="footer-phone" href="#">#</a>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="footer-big-contacts">
                                    <span>Send an Email:</span>
                                    <a id="footer-email" href="#">#</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="copyrights" class="bg-transparent">
        <div class="container clearfix">
            <div class="row col-mb-30">
                <div class="col-md-6 text-center text-md-left">
                    <!-- TODO: Make year dynamic -->
                    Copyright &copy; 2021 Tufts Leadership Initiative
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="copyrights-menu copyright-links clearfix">
                        <a href="#section-home">Home</a> /
                        <a href="#section-mission">Mission</a> /
                        <a href="#section-services">Services</a> /
                        <a href="#section-faq-testimonials">FAQ</a> /
                        <a href="#section-faq-testimonials">Testimonials</a> /
                        <a href="#section-contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- #footer end -->