<div class="container">
    <div class="mx-auto center mt-4 bottommargin heading-block" style="max-width: 640px;">
        <h5 class="text-uppercase ls1 text-muted mb-3">Why Choose Me?</h5>
        <h2 class="nott mb-4">Nunc &amp; Potenti Incidunt Integer Praesent</h2>
        <p class="lead font-weight-normal font-primary mb-5">Accusantium recusandae eum adipiscing per aliquid pretium autem? Molestiae platea, consequatur et? Sociis at curabitur, proident aspernatur eveniet asperiores exercitation ligula luctus et sed? Perspiciatis.</p>
    </div>

    <div class="features-items mx-auto" style="max-width: 1000px;">
        <div class="row justify-content-around">
            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-line2-pointer text-primary"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Perferendis fugiat senectus</h2>
                        <div class="lead font-weight-normal text-black-50">Rutrum veritatis mollis posuere tristique ducimus aut, nostrud natus itaque rutrum tempor iusto quisque, repellat, congue pharetra illo phasellus quia eiusmod sodales odit natoque accusantium.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-line2-credit-card text-danger"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Quaerat hac quo</h2>
                        <div class="lead font-weight-normal text-black-50">Cupidatat praesent etiam hymenaeos deleniti dolorum sunt eos, eum unde mauris, odit est ab, curabitur, blandit! Wisi, culpa quam dis! Cillum distinctio nostrum recusandae. Curabitur.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-line2-shield text-warning"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Nobis varius amet pentibus</h2>
                        <div class="lead font-weight-normal text-black-50">Interdum eleifend adipiscing? Mi dui tellus sapiente sem! Condimentum aliqua elementum rem occaecati excepteur cupidatat totam perspiciatis, pariatur, dignissimos nisl voluptate veritatis et provident. Velit.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-line2-notebook text-info"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Nostra quos sodales</h2>
                        <div class="lead font-weight-normal text-black-50">Rutrum minus atque illum earum facere commodo possimus! Nesciunt similique sequi, ligula in! Duis, maecenas. Magni adipiscing commodi vivamus, deleniti tristique ornare, minus maiores. Vitae.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="row align-items-stretch align-content-stretch no-gutters topmargin">

    <div class="col-md-6 order-md-2" style="background: url('images/mission-services/istockphoto-1146224410.jpg') center center / cover; min-height: 300px"></div>

    <div class="col-md-6 bg-color dark order-md-1">
        <div class="section-features">
            <h2 class="mb-3 h4 font-weight-semibold">Mauris voluptas mollis temporibus.</h2>
            <p class="h6 font-weight-normal mb-5"> Platea diamlorem erat, esse. Perferendis potenti veritatis? Pretium rutrum erat! Justo diam fuga eum, sint, proin voluptatem cum distinctio habitasse, occaecati beatae! Fugit tincidunt perspiciatis.</p>

            <h2 class="mb-3 h4 font-weight-semibold">Lacinia, ante quis consequatur.</h2>
            <p class="h6 font-weight-normal mb-5">Sociosqu. Taciti, porttitor! Ex do commodi. Commodo consectetur veniam aliquet! Aliquet iure, eos morbi tincidunt? Imperdiet numquam impedit. Posuere cupiditate vulputate modi? Vehicula necessitatibus proident.</p>

            <h2 class="mb-3 h4 font-weight-semibold">Iaculis vitae elit.</h2>
            <p class="h6 font-weight-normal mb-0">Massa provident ipsam minima, itaque nullam, nullam blanditiis vestibulum dis nullam illo minus cubilia eligendi, incidunt modi exercitation, tortor leo ullam, tempora minus aliquam est.</p>
        </div>
    </div>
</div>
<div class="clear"></div>