<div class="container mission-services">
    <div class="mx-auto center mt-4 bottommargin heading-block" style="max-width: 640px;">
        <h5 class="text-uppercase ls1 text-muted mb-3">Mission</h5>
        <h2 class="nott mb-4">Training organizations to excel through the power of character-based leadership.</h2>
        <p class="lead font-weight-normal font-primary mb-5">How many great bosses have you had?<br>What made them great versus good?<br>How did you respond or react to these great bosses?
            </p>
        
        <!-- This anchor tag is one line higher than it should be,
            to allow for the space occupied by the navigation. -->
        <a id="section-services"></a>
    </div>

    <div class="features-items mx-auto" style="max-width: 1000px;">
        <div class="row justify-content-around">
            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-address-card1 text-primary"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Caring for Your People <i>Personally</i></h2>
                        <div class="lead font-weight-normal text-black-50">Awakening virtues and habitualizing virtuous actions is our first topic. Great leaders VALUE their teammates and the organization simultaneously, first and foremost, and certainly above themselves.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-people-carry text-danger"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Caring for Your People <i>Professionally</i></h2>
                        <div class="lead font-weight-normal text-black-50">Goal #1: Teammates flourish personally and professionally. Goal #2: Organization pursues excellence. How to meet both these goals is our second topic.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-chart-line text-warning"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4">Caring for the <i>Mission and Execution</i></h2>
                        <div class="lead font-weight-normal text-black-50">Coaching skills is our third topic. Great leaders stay engaged and coach their teammates and organizations over the long term.</div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 bottommargin-lg">
                <div class="feature-box media-box">
                    <div class="fbox-icon">
                        <i class="icon-shield-alt text-info"></i>
                    </div>
                    <div class="fbox-content">
                        <h2 class="h4 font-weight-bold mb-4"><i>Empowering</i> the Team</h2>
                        <div class="lead font-weight-normal text-black-50">Identifying and developing key skills are our fourth topic. Great leaders become and stay great by fine tuning their skills. Why? Because they motivated by their value system, their character, by seeing teammates flourish, and by seeing their organization progress toward excellence...and knowing that being more skillful helps teammates and the organization.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="row align-items-stretch align-content-stretch no-gutters topmargin">

    <div class="col-md-6 order-md-2" style="background: url('images/mission-services/walking-business-people.jpg') center center / cover; min-height: 300px"></div>

    <div class="col-md-6 bg-color dark order-md-1">
        <div class="section-features">
            <h2 class="mb-3 h4 font-weight-semibold">Character is the foundation to being a great leader</h2>
            <p class="h6 font-weight-normal mb-5"> Character is a puzzle of virtues, and a virtue is an excellence of character. Virtues are: being patient, trustworthy, caring, temperate, honest, prudent, being courageous and having integrity. Virtues are elements of our overall value system. Character defines who we are, not what we do. What we do illuminates our character.</p>

            <h2 class="mb-3 h4 font-weight-semibold">Who we are drives what we do!</h2>
            <p class="h6 font-weight-normal mb-5">Virtues (combined with character) define who we are! We all expect our leaders to be virtuous (honest, trustworthy, patient, courageous, caring, and have integrity), but we never think about it directly in those terms...if we expected our leaders to be "un-virtuous" (dishonest, un-trustworthy, impatient, uncaring, lacking of integrity, lacking courage, etc), we would probably not follow them. And neither would the people who follow us!</p>

            <h2 class="mb-3 h4 font-weight-semibold">If we want real behavioral change, the fundamentals of who we are need to change first.</h2>
            <p class="h6 font-weight-normal mb-0">Changing the fundamentals of who are can be done two ways: awakening and fostering virtues and frequently practicing virtuous actions so that they become habitual and part of who we are.</p>
        </div>
    </div>
</div>
<div class="clear"></div>