<!DOCTYPE html>
<html>
  {% include head.html %}
  
  <body class="stretched page-transition" data-loader-html="<div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='https://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='https://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>">
      
      {{ content }}
      {% include footer.html %}
      </div><!-- #wrapper end -->

      <!-- Go To Top
      ============================================= -->
      <div id="gotoTop" title="Go To Top" class="icon-angle-up rounded-circle"></div>
    
      <!-- JavaScripts
      ============================================= -->
      <script src="js/jquery.js"></script>
      <script src="js/plugins.min.js"></script>
      <script src="js/custom.js"></script>
    
      <!-- Footer Scripts
      ============================================= -->
      <script src="js/functions.js"></script>
    
    </body>
  </html>